@import 'node_modules/bootstrap/scss/bootstrap';

*{
    background-color: rgb(78, 168, 176);
}

h3{
    font-size: xx-large;
    color: rgb(40, 85, 89);
    font-weight: bolder;
    font-style: italic;
}

.det{
    font-size: 0.8rem;
  }

// media query
@media screen and (max-width: 690px) {
   .prices > li{
    font-size: 1rem;
   }
  }